body {
    background-color: #00a8cc;
}

hr {
    border-top: dotted 8px;
    border-style: dotted none none;

    color: clear;
    background-color: clear;
    width: 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000839;
}